name: AXIOS CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Backend
        run: |
          cd backend
          mvn clean package -DskipTests

      - name: Docker Build Backend
        run: |
          cd backend
          docker build -t axios-backend .
